
.Rhistory
*.pper
*.Rdata
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/B315715E/sources/prop/INDEX
.Rproj.user/B315715E/sources/prop/BDE0A2A
.Rproj.user/B315715E/sources/prop/860533D
.Rproj.user/B315715E/sources/prop/7BA48329
.Rproj.user/B315715E/sources/per/t/E1491E8F-contents
.Rproj.user/B315715E/sources/per/t/E1491E8F
.Rproj.user/B315715E/sources/per/t/CF88679D-contents
.Rproj.user/B315715E/sources/per/t/CF88679D
.Rproj.user/B315715E/sources/per/t/64164911-contents
.Rproj.user/B315715E/sources/per/t/64164911
.Rproj.user/B315715E/saved_source_markers
.Rproj.user/B315715E/rmd-outputs
*.Rproj
